<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />

  <meta name="generator" content="Hugo 0.72.0" />
  <title>Album example · Bootstrap</title>
  <link rel="stylesheet" href="CSS/style.css">
  {{!
  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/album/"> }}
  <link rel="stylesheet" href="../css/bootstrap.min.css" />

  <!-- Bootstrap core CSS -->


</head>

<body>